# --- Environment Settings ---
project_environment = "production"
aws_region          = "us-east-1"

# --- Networking ---
vpc_cidr_block       = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]
azs                  = ["us-east-1a", "us-east-1b"]

# --- Compute ---
instance_type        = "t3.micro"

# --- Storage ---
# S3 Bucket names must be globally unique. 
frontend_bucket_name = "starttech-frontend-prod-mercy-88"
